<div id="cabecera">
  <button  (click)="ir(245,181);">NO72</button>
  <button  (click)="ir(597,343);">SO31</button>
  <button  (click)="ir(438,836);">SE81</button>
  <button  (click)="ir(415,614);">SE49</button>
  <button  (click)="ir(138,554);">CO76</button>
  <button  (click)="ir(1010,51);">CE21</button>
</div>
<map name="Mapa" id="mapa">
<area shape="rect" coords="0, 0, 50, 50" href="index_OLD.html">
<!--  <area shape="circle" coords="75, 75, 25" href="violeta.html"> -->
<!-- <area shape="poly" coords="88, 79, 236, 92, 231, 167, 88, 170" href="index_OLD.html" target="_blanck"> -->
</map>
<div id="mapa" usemap="#Mapa" (click)="posicion($event)">
  <a>
    <img id="mapaImg" src="/assets/sherlock2.jpg" class="normal" usemap="#Mapa">
  </a>
</div>
