#cabecera
{
  height:50px;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
}

#mapa
{
  position:absolute;
  top:50px;
  left:0;

}

#mapaImg
{
  position:absolute;


}

.normal
{
  top:0;
  left:0;
}

.zoom
{
  transform: scale(2);
}

.izquierda
{

  top:-200px;
  left:-300px;
}
