<div id="cabecera">
  <button  (click)="ir(224,290);">Azul</button>
  <button  (click)="ir(30,628);">Rojo</button>
  <button  (click)="ir(320,121);">Marron</button>
  <button  (click)="ir(153,143);">verde</button>
  <button  (click)="ir(106,472);">Amarillo</button>
  <button  (click)="ir(253,539);">Malva</button>
</div>
<map name="Mapa" id="mapa">
<area shape="rect" coords="0, 0, 50, 50" href="index_OLD.html">
<!--  <area shape="circle" coords="75, 75, 25" href="violeta.html"> -->
<!-- <area shape="poly" coords="88, 79, 236, 92, 231, 167, 88, 170" href="index_OLD.html" target="_blanck"> -->
</map>
<div id="mapa" usemap="#Mapa" (click)="posicion($event)">
  <a>
    <img id="mapaImg" src="/assets/cuadro.jpg" class="normal" usemap="#Mapa">
  </a>
</div>
