#contenedor
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#contenedor>div
{
  width:40%;
  border:1px solid;
  padding:10px;
}

.title
{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#personajes
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#personajes div:first-child
{
  width:70%;
}

#personajes div:last-child
{
  width:30%;
}
